.customer-form {
}

.head-customer {
  text-align: center;
}
.form button{
  font-size: 25px;
}
.hr-style{
 
    color: 'black';
    backgroundColor: 'gray';
    height: '1px';
    marginTop: '25px';

}